/node_modules
/src/wankahaoyangmao/detailPic
/.idea
/src/haoyangmao8/dest
/src/haoyangmao8/detailPic
/src/jiuaiyangmao/dest
/src/jiuaiyangmao/detailPic
/src/butaolu/dest
/src/butaolu/detailPic
/src/dest
/src/detailPic